<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <h1 class="title" align="center">Ubah profil</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeupdateuser()"><i class="ion-close-round"></i></button>
    </div>
  </ion-header-bar>
  <ion-view view-title="Ubah profil">
  <ion-content>

    <form ng-submit="updatedatauser();">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="dataUser.username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="dataUser.password">
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Email@mail.com" ng-model="dataUser.email_user">
        </label>
        <label class="item"> Jenis Kelamin
        <ion-list>
          <ion-radio  ng-repeat="item in JK" ng-model="dataUser.jenis_kelamin" ng-value="item.value">{{item.text}}</ion-radio>
        </ion-list>
        </label>
        <label class="item">
          <button class="button button-calm button-block" type='submit'>Ubah Profil</button>
        </label>
      </div>
    </form>
  </ion-content>
  </ion-view>
</ion-modal-view>
