<ion-view view-title="Help">
  <ion-content class="padding">
  	<p>FAQ</p>
  	<ion-list>
      <ion-item>
      	<p>Apa isi aplikasi ini ?</p>
      	<p>Aplikasi ini merupakan forum bertukar pikiran tentang cara menangani sampah disekitar kita</p>
      </ion-item>
      <ion-item>
      	<p>Apakah perlu mendaftar ?</p>
      	<p>Tidak, tapi dengan mendaftar kalian dapat ikut berdiskusi langsung dengan member yang lainnya</p>
      </ion-item>
      <ion-item>
      	<p>Terus untuk apa mendaftar ?</p>
      	<p>Selain dapat ikut berdiskusi langsung kamu juga bisa ikut mengutarakan ide kamu untuk menangani sampah serta dapat melihat lebih banyak ide orang lain untuk menangani sampah</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
