<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <h1 class="title" align="center">Daftar</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSignup()"><i class="ion-close-round"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSignUp();">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="signupData.username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="signupData.password1">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Re-type Password" ng-model="signupData.password2">
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Email@mail.com" ng-model="signupData.email">
        </label>
        <label class="item"> Jenis Kelamin
        <ion-list>
          <ion-radio ng-repeat="item in JK" ng-model="signupData.JK" ng-value="item.value">{{item.text}}</ion-radio>
        </ion-list>
        </label>
        <label class="item">
          <button class="button button-calm button-block" type='submit'>Daftar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
